body {
  text-align: center;

}

.board {
  margin: 0 auto;
  width: 500px;
  border: 1px solid #000;
  overflow: auto;
  font-family: 'Helvetica', sans-serif;
}

.piece {
  float: left;
  width: 25%;
  box-sizing: border-box;
  padding: 25px;
  font-size: 2em;
  text-align: center;
  border: 1px solid #000;
  cursor: pointer;
}

.spacer {
  background-color: #000;
  cursor: default;
}

#reset {
  margin: 10px
}
